 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1021px;
}

.u-section-1 .u-shape-1 {
  height: 296px;
  margin-top: 473px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 752px;
  margin: -697px auto 0 46px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 604px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0 60px;
}

.u-section-1 .u-text-2 {
  margin: 20px 60px 0;
}

.u-section-1 .u-image-1 {
  width: 224px;
  height: 320px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: -57px 54px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: -144px 298px 60px 359px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 108px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -907px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -333px;
    margin-right: 198px;
    margin-left: 259px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 224px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 185px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -830px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 88px;
    margin-left: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 220px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 170px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -845px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -313px;
    margin-right: 0;
    margin-left: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1675px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 572px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -156px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 883px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1172px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -339px;
    margin-left: 0;
  }
}